<div class="jumbotron text-center">
  <h1>ANGULAR: - Quill Editor</h1>
</div>

<div class="container">
  <h1>1. Editor With [Default] Theme</h1>
  <div class="row mb-4">
    <div class="col-sm-6">
      <form [formGroup]="formObj" class="form-horizontal" (submit)="submit()">
        <!-- Quil Editor -->
        <div class="form-group">
          <ngx-quilljs [options]="options" formControlName="content"></ngx-quilljs>
        </div>
      </form>
    </div>
    <div class="col-sm-6 preview">
      <div>
        <b style="color: red;"> [ PREVIEW ]</b>
        <div [innerHTML]="htmlProperty"></div>
      </div>
    </div>
  </div>
  <!--Row End-->

  <h1>2. Editor With [Bubble] Theme</h1>
  <div class="row mt-4 mb-4" style="border-top: 2px solid black">
    <div class="col-sm-6">
      <form [formGroup]="formObj" class="form-horizontal" (submit)="submit()">
        <!-- Quil Editor -->
        <div class="form-group">
          <ngx-quilljs [options]="optionsBubble" formControlName="contentBubble"></ngx-quilljs>
        </div>
      </form>
    </div>
    <div class="col-sm-6 preview">
      <div>
        <b style="color: red;"> [ PREVIEW ]</b>
        <div [innerHTML]="htmlPropertyBubble"></div>
      </div>
    </div>
  </div>
  <!--Row End-->

</div><!-- Container End-->